:root {
  --highlight: hsl(176, 50%, 47%);
  --highlight-dark: hsl(176, 72%, 28%);
  --text-dark: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 48%);

  --background-light: hsla(0, 0%, 48%, 0.1); 
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

picture, img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: var(--background-light);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

header {
  position: relative;
}

.header-links-logo {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 6em;
}

nav {
  display: flex;
  gap: 2em;
}

header a {
  text-decoration: none;
  color: white;
}

main {
  position: relative;
  width: 100%;
}

.content-wrapper { 
  width: 70%;
  position: absolute;
  left: 50%; 
  top: 5%;
  transform: translate(-50%, -5%); 
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.h1-wrapper {
  text-align: center;
}

.section-wrapper {
  background-color: white;
  padding: 2em;
  border-radius: 0.5em;
}

.padding {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.padding > p.details {
  grid-column: 1/3;
}

.pledge-amount {
  text-align: right;
}

.product-footer {
  grid-column: 1/3;
}

h1, h2, h3 {
  color: var(--text-dark);
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}

p {
  line-height: 2;
}

.m-icon {
  position: absolute;
  left: 50%;
  top: -15%;
  transform: translate(-50%, 15%);
}

.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

button {
  font-size: 1em;
}

button.active, button.inactive {
  border: transparent;
  color: white;
  padding: 1.2em 2em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 1.8em;
}

button.active {
  background-color: var(--highlight);
}

button.inactive { 
  background-color: var(--text-light);
}

button.bookmark {
  border: transparent;
  border-radius: 1.8em;
  color: var(--text-light);
  background-color: var(--background-light);
  gap: 1em;
  position: relative;
  padding: 1.2em 2em 1.2em 4em;
  font-weight: 700;
  letter-spacing: 1px;
}

button.bookmark > img {
  width: 3em;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

button.bookmark > svg {
  position: absolute;
  left: 0;
  top: 0;
}

.bookmark-circle.bookmarked {
  fill: var(--highlight-dark);
}
.bookmark-cutout.bookmarked {
  fill: white;
}

button.bookmark > span.bookmarked {
  color: var(--highlight-dark);
}

button.active:hover, button.active:focus {
  background-color: var(--highlight-dark);
  cursor: pointer;
}

button.bookmark {
  cursor: pointer;
}

button.bookmark:hover svg, button.bookmark:focus img {
  opacity: 0.6;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  height: 1em;
  background-color: var(--background-light);
  border-radius: 1em;
}

.progress-bar > span {
  background-color: var(--highlight);
  width: 89%;
  display: block;
  height: 100%;
  border-radius: inherit;
}

.progress > p.progress-info:not(:last-child) {
  border-right: 2px solid var(--background-light);
}

.progress-info {
  font-size: 0.9em;
  font-weight: 500;
  width: 33%;
  padding: 0 3em;
}

.progress-info > span {
  font-weight: 700;
  font-size: 2.5em;
  display: block;
  color: var(--text-dark);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 1.5em;
}

.product {
  border: 2px solid var(--background-light);
  border-radius: inherit;
}

.pledge-amount { /* gets bolded in modal when hovering over h3 */
  color: var(--highlight);
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.number {
  font-size: 2.2em;
  font-weight: 700;
  color: var(--text-dark);
}

.product.inactive {
  opacity: 0.5;
}
/* selection modal */
.selection-modal {
  display: none;  
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.selection-modal-content .amount {
  justify-self: end;
}

.selection-modal-content .padding {
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.selection-modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 2em;
  width: 60%; 
  border-radius: 0.5em;;
}

.selection-modal-content .about {
  gap: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.selection-modal-content .section-wrapper > img {
  position: absolute;
  right: 0%;
  top: 0%;
}

.selection-modal-content .section-wrapper > img:hover {
  cursor: pointer;
  filter: brightness(0%);
}

.selection-modal-content .section-wrapper {
  padding: 1em;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

.selection-modal-content label {
  font-weight: 700;
  color: var(--text-dark);
}

.selection-modal-content label:not(.inactive):hover, 
.selection-modal-content label:not(.inactive):focus {
  color: var(--highlight);
  cursor: pointer;
}

.selection-modal-content label:not(.inactive):hover ~ .pledge-amount, 
.selection-modal-content label:not(.inactive):focus ~ .pledge-amount {
  font-weight: 500;
}

.product-footer.pledge { 
  grid-column: 1/3;
  border-top: 2px solid var(--background-light);
  display: none; /* when turned on, goes to flex */
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.amount-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-right: 2em;
}

.selection-modal-content .details, .enter-pledge {
  padding-left: 2em;
}

input[type=text] {
  border: 2px solid var(--background-light);
  text-align: center;
  outline: none;
  padding: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2.5em;
  max-width: 6rem;
  font-size: 1em;
}

input[type=text]:hover, input[type=text]:focus-within {
  border: 1px solid var(--highlight);
  cursor: pointer;
}

.inner-amount-wrapper {
  position: relative;
}

label.dollar-sign {
  position: absolute;
  bottom: 50%;
  left: 20%;
  transform: translate(-20%, 50%);
  color: var(--text-light);
}

.selection-modal-content .product.selected {
  border: 2px solid var(--highlight);
}

.selection-modal-content label:not(.inactive):hover ~ .check, 
.selection-modal-content label:not(.inactive):focus ~ .check {
  border: 2px solid var(--highlight); 
}

.header-left label {
  display: flex;
  align-items: center;
  margin-left: 2em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-left label:not(.inactive) {
  cursor: pointer;
}

/* hide default radio button */
.header-left label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid var(--background-light);
  position: absolute;
  top: 0;
  left: -45px; /* has to be fixed because labels are different sizes */
}

.header-left label:not(.inactive):hover input ~ .check,
.header-left label:not(.inactive):focus input ~ .check {
  border: 2px solid var(--highlight);
}

/* create the indicator dot (hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* inner dot when checked */
.header-left label input:checked ~ .check:after {
  display: block;
}

/* circle inside the radio button */
.header-left label .check:after {
 	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	width: 0.7em;
	height: 0.7em;
	border-radius: 50%;
	background: var(--highlight);
}

/* the thank you modal */
.success-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.success-modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 2em;
  width: 36%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}
.success-modal-content > h3 {
  margin-bottom: -1em;
}
.success-modal-content > p {
  font-size: 0.9em;
  line-height: 2;
}

.mobile-menu-icons, .mobile-menu-modal{
  display: none;
}

.mobile-menu-modal {
  display: none; /* becomes block */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
  padding: 2.2rem 2rem;
}

.mobile-menu-modal > img {
  float: right;
}

.mobile-menu-content {
  background-color: white;
  margin: 30% auto; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  border-radius: 0.5em;
}

.mobile-menu-content > a {
  color: var(--text-dark);
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 2em;
  padding-bottom: 2em;
  padding-top: 1.8em;
}

.mobile-menu-content > a:not(:last-child){
  border-bottom: 2px solid var(--background-light);
}

@media only screen and (max-width: 1000px){
  .content-wrapper { 
    width: 80%;
  }
  
  .progress-info {
    padding: 0 2em;
  }

  .progress-info > span {
    font-size: 2em;
  }
}

@media only screen and (max-width: 750px){
  .content-wrapper { 
    width: 96%;
  }

  .progress {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .progress-info {
    width: 100%;
  }

  .progress-info > span {
    font-size: 2.5em;
    margin-bottom: -0.3em;
  }

  .progress > p.progress-info:not(:last-child) {
    border-right: none;
    margin-bottom: 1em;
  }

  /* the line under each number */
  .progress > p.progress-info + p.progress-info::before {
    content: "";
    background: var(--background-light);
    position: absolute;
    left: 35%;
    width: 30%;
    height: 2px; 
  }

  .product-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .selection-modal-content {
    width: 90%; 
  }

  .selection-modal-content .section-wrapper > img {
    position: absolute;
    right: 3%;
    top: 1%;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .selection-modal-content .padding {
    grid-template-columns: 1fr;
  }

  .selection-modal-content .amount {
    grid-row: 3;
    justify-self: left;
  }

  .success-modal-content {
    margin: 50% auto; 
    width: 90%; 
  }

  .padding > .pledge-amount {
    text-align: left;
    margin-top: 0em;
    padding-left: 0em;
    grid-column: 1/3;
    margin-top: -1em;
  }

  .pledge-amount {
    line-height: 1.5;
    margin-top: -1em;
    padding-left: 2em;
    text-align: left;
  }

  .selection-modal-content .details, .enter-pledge {
    padding-left: 0;
  }

  .enter-pledge {
    margin-bottom: 1em;
  }

  .check {
    top: 10px;
    left: -35px;
  }

  .check.no-reward {
    top: 0;
  }

  .padding {
    padding: 1em;
    grid-template-columns: 1fr;
  } 

  .section-wrapper {
    padding: 1em;
  }

  .selection-modal-content {
    padding: 1em;
  }

  .success-modal-content {
    margin: 15% auto; 
    padding: 1em;
  }

  .amount-wrapper {
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
    width: 100%;
  }

  .selection-modal-content .number {
    line-height: 1.4;
    font-size: 2em;
  }

  .h1-wrapper {
    margin-top: 2em;
  }

  .m-icon {
    top: -10%;
    transform: translate(-50%, 10%);
  }

  .button-wrapper {
    margin-bottom: 2em;
  }

  button.bookmark > span {
    display: none;
  }

  button.bookmark {
    border: transparent;
    border-radius: 1.8em;
    color: var(--text-light);
    background-color: transparent;
    gap: 1em;
    position: relative;
    padding: 1.75em; /* needed for positioning of svg */
    font-weight: 700;
    letter-spacing: 1px;
  }

  .button-wrapper > button.active {
    width: 70%;
    padding: 1.2em 1em;
  }

  h1 {
    margin-bottom: 1em;
    line-height: 1.2;
  }

  nav {
    display: none;
  }

  .mobile-menu-icons {
    display: block;
  }

  .close-icon {
    display: none;
  }

  .header-links-logo {
    padding: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .selection-modal-content {
    width: 98%;
  }
 
  .m-icon {
    top: -8%;
    transform: translate(-50%, 8%);
  }
}

@media only screen and (max-width: 340px) {
  .button-wrapper > button.active {
    font-size: 0.8em;
  }
  .button-wrapper > button.active {
    padding: 1.5em 1em;
    border-radius: 2.2em;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}