:root {
  --highlight: hsl(176, 50%, 47%);
  --highlight-dark: hsl(176, 72%, 28%);
  --text-dark: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 48%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

.selection-modal, .success-modal { /*temp*/
  display: none;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: hsla(0, 0%, 48%, 0.05);
}
header {
  height: 35vh; /* needs adjustment */
  background-image: url(./images/image-hero-desktop.jpg); /* needs resizing */
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}

header > img {
  height: 1rem;
  width: auto;
}

nav {
  display: flex;
  gap: 1em;
}

header a {
  text-decoration: none;
  color: white;
}

main {
  position: relative;
  padding-bottom: 2rem;
}

.content-wrapper { /* wrapper for content sections, needs to relative to main  */
  width: 50%;
  position: absolute;
  left: 50%; 
  top: 5%;
  transform: translate(-50%, -5%); /* need a y adjustment */
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section, .progress {
  background-color: white;
  padding: 2em 1em;
}

.summary {
  position: relative;
}
.summary > img {
  position: absolute;
  left: 50%;
  top: -25%;
  transform: translate(-50%, 25%);
}

.attribution { /* how move this down, right now hidden by content wrapper*/

}